

.navbar {
  font-style: oblique;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-link {
  font-style: oblique;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
}
.content {
  flex: 1;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
}

.hero-section {
  background: url("../images/car_background.avif") no-repeat center center/cover;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: oblique;
  font-weight: bold;
  text-shadow: 10px 20px 20px rgba(0, 0, 0, 0.7);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
}
.hero-section h1 {
  font-size: 3.4rem;
  font-weight: bold;
}
.hero-section p {
  font-size: 1.5rem;
  margin-top: 10px;
}

#carouselExampleCaptions {
  margin-top: 20px;
}

.carousel {
  box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 50px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 14px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 20px 25px 25px rgba(0, 0, 0, 0.4);
}
.card img {
  border-bottom: 1px solid #ddd;
}

.info-box {
  margin-top: -30px;
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 50px;
  text-align: center;
}
.info-box h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.info-box p {
  font-size: 1.5rem;
  margin-top: 10px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.gallery-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-style: oblique;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.gallery-card-body {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.gallery-card-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-style: oblique;
}

.feature-box {
  background-color: #f8f9fa;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 15px;
  box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.feature-card .card-body {
  padding: 1.5rem;
}

.feature-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.feature-card .card-text {
  color: #333;
}

.feature-card .btn {
  border-radius: 30px;
}

.contact-box {
  background-color: #f8f9fa;
  border-radius: 40px;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}
.contact-box h1 {
  font-weight: 700;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
